<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <link rel='stylesheet' href="{% static 'flights/css/flights_style.css' %}" />
    <title>Flights</title>
</head>
    <body>
      <div class="main-container">
          <h3>Flights List:</h3>
          {% if flights_list %}
              <table class="flights-table">
                  <th>Flight ID</th>
                  <th>Arrival Time</th>
                  <th>Departure Time</th>
                  {% for flight in flights_list %}
                      <tr>
                          <td> {{ flight.id }} </td>
                          <td> {{ flight.arrival }} </td>
                          <td> {{ flight.departure }} </td>
                      </tr>
                  {% endfor %}
              </table>
          {% else %}
              <p> No Flights are available in DB.</p>
          {% endif %}
     </div>
      <a href="{% url 'flights:check_schedule_ok'  %}" class="btn">
                      check schedule arrival departure flights
      </a>

    </body>
</html>